.banner{background-color:#262b30;
        color:rgb(206, 220, 220);
        display:flex;
        margin: 0%;}

.pic{flex:1;
    height:15%;
    width:15%;
    margin:20px;
    margin-right:0;
    border-radius:30%;
    border-style:double;
    border-width:thick;}

.name{flex: 4;
    text-align:center;
    font-size:500%;
    align-self:center;
}

