.banner{background-color:#262b30;
        color:rgb(206, 220, 220);
        display:flex;
        margin: 0%;}

.pic{flex:1;
    height:auto;
    width: 10%;
    margin:20px;
    margin-right:0;
    border-radius:50%;
    border-style:double;
    border-width:thick;
    align-self: center;}

.name{flex: 4;
    text-align:center;
    font-size: 10vw;
    align-self:center;
}

